* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background: rgb(58, 5, 28);
  background: linear-gradient(
    0deg,
    rgba(58, 5, 28, 1) 11%,
    rgba(52, 1, 26, 1) 38%,
    rgba(114, 49, 49, 1) 100%,
    rgba(56, 69, 75, 1) 100%,
    rgba(114, 69, 69, 0) 100%,
    rgba(74, 0, 42, 1) 100%,
    rgba(0, 0, 0, 1) 100%,
    rgba(80, 0, 47, 1) 100%,
    rgba(40, 62, 72, 1) 100%,
    rgba(14, 50, 68, 1) 100%
  );
}

.header {
  display: flex;
  align-items: flex-end;
  margin: 60px 0px;
}

.playlistImg {
  margin-left: 33px;
}

.album-img {
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.albumInfo {
  margin-left: 25px;
  color: #fff;
}

.albumInfo h6 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: -20px;
}

.albumName {
  font-size: 80px;
  font-weight: 900;
}

.artistImg {
  border-radius: 50%;
  width: 7%;
  cursor: pointer;
}

.artistName {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 16px;
  text-decoration: none;
  margin-left: 5px;
}

.artistName:hover {
  color: rgb(139, 139, 139);
  text-decoration: underline;
}

.songsInfo {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
}

.playlistContainer {
  padding: 0 32px;
  background: rgb(105, 42, 45);
  background: linear-gradient(
    180deg,
    rgba(105, 42, 45, 1) 0%,
    rgba(2, 0, 1, 1) 60%,
    rgba(2, 0, 1, 1) 87%,
    rgba(2, 0, 1, 1) 98%,
    rgba(2, 0, 1, 1) 100%,
    rgba(51, 2, 31, 1) 100%,
    rgba(0, 0, 0, 1) 100%,
    rgba(0, 0, 0, 1) 100%,
    rgba(0, 0, 0, 1) 100%,
    rgba(56, 56, 56, 1) 100%,
    rgba(40, 62, 72, 1) 100%,
    rgba(35, 21, 21, 1) 100%,
    rgba(74, 40, 40, 1) 100%,
    rgba(74, 40, 40, 1) 100%,
    rgba(74, 40, 40, 1) 100%,
    rgba(14, 50, 68, 1) 100%,
    rgba(114, 49, 49, 1) 100%,
    rgba(56, 69, 75, 1) 100%,
    rgba(114, 69, 69, 0) 100%,
    rgba(74, 0, 42, 1) 100%
  );
}

.block {
  height: 105px;
}

.playlistHeader {
  color: #b3b3b3;
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  margin-left: 32px;
  margin-right: 32px;
}

.trackNo {
  margin-right: 30px;
  margin-left: 10px;
}

.divider {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 15px 0;
}

.musicContainer {
  padding: 0 32px;
}

.songImg {
  width: 50px;
  height: 50px;
  margin: 2px 15px;
}

.trackName {
  display: inline;
}

.trackContainer {
  display: flex;
  justify-content: space-between;
  color: #fff;
  height: 56px;
  cursor: pointer;
  user-select: none;
  margin-top: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.trackContainer > div > span {
  display: inline-block;
  width: 30px;
  text-align: center;
}

.trackContainer:focus-within,
.trackContainer:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.playerControlsContainer {
  background-color: #181818;
  border-top: 1px solid #282828;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 30px;
}

.controls {
  color: #fff;
  margin: 20px 10px;
  cursor: pointer;
}

.fa-caret-left,
.fa-caret-right {
  font-size: 25px;
}

.fa-play-circle,
.fa-pause-circle {
  font-size: 35px;
}

.pauseButton {
  display: none;
}

.playButton:focus,
.playButton:hover,
.pauseButton:focus,
.pauseButton:hover {
  transform: scale(1.06);
  transition-property: none;
  transition-property: all;
}
.playButton :focus,
.pauseButton :focus {
  outline: none;
}

.playbackAndProgressBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressBarContainer {
  width: 500px;
  height: 5px;
  margin: 0px 10px;
  border-radius: 5px;
  background-color: #6c757d;
}

#currentProgress {
  width: 0px;
  height: 100%;
  background-color: #b3b3b3;
  border-radius: 5px;
}

.license {
  margin-top: 32px;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 16px;
  text-transform: none;
  color: #b3b3b3;
}

.moreAlbumContainer {
  user-select: none;
}

.topInfoContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.link {
  color: #fff;
  max-width: 100%;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  text-transform: none;
}

.link:hover,
.discography:hover {
  color: #fff;
  text-decoration: underline;
}

.discography {
  color: #b3b3b3;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 16px;
  text-transform: uppercase;
}

.totalAlbumContainer {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
  justify-content: center;
}

.card {
  background: #181818;
  border-radius: 4px;
  padding: 16px;
  margin: 10px 8px;
}

.card-box {
  max-width: 180px;
  color: #fff;
}

.card:focus-within,
.card:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.imgContainer {
  margin-bottom: 20px;
}

.moreAlbumImg {
  width: 100%;
}

.textMuted {
  color: rgb(179, 179, 179);
}

.album {
  width: 170px;
}

@media screen and (max-width: 600px) {
  .playlistContainer {
    padding: 0px 0px 0px 10px;
  }
}
